header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  width: 100%;
  overflow: hidden;
  margin: 0;
  box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.03);

  .logo-container {
      min-width: 200px;
      max-width: 30%;
      height: 80px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 5%;
      margin-right: -5%;
      flex: 1;
  }

  .header_nav {
      display: flex;
      justify-content: flex-end;
      max-width: 60%;
      

      ul {
          justify-content: flex-end;
          height: 100%;
          display: flex;
          align-items: center;
          list-style: none;
          margin: 0;

          li{
            margin: 0 30px;
          }
          

          a{
            text-decoration: none;
            font-size: 21px;
            text-transform: uppercase;
            color: black;
          }

          a:hover{
            color: darkgray;
          }
      }
  }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-salon {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    position: relative;
  }
  
  .popup-header img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .popup-content {
    margin-top: 20px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  