<header>
  <div class="logo-container">
    <a routerLink="">
      <img src="/assets/NathalieMota.png" alt="logo du site Nathalie ecrit en rouge" />
    </a>
  </div>

  <!-- Bouton menu burger -->
  <button class="burger-menu" (click)="toggleMenu()">
    <span class="material-icons">menu</span>
  </button>

  <nav class="header_nav" [class.open]="isMenuOpen">
    <ul>
      <li><a routerLink="" (click)="closeMenu()">Accueil</a></li>
      <li><a href="#" (click)="closeMenu()">À propos</a></li>
      <li><a (click)="openModal()">Contact</a></li>
    </ul>
  </nav>
</header>
