<app-header/>

<div id="main-content">

  <!-- Section 1 -->
  <section id="page-photo">
    <div class="detail-photo">
      <article class="left-column">
        <section>
          <h2 class="heading">{{ image?.title }}</h2>
          <ul class="info-photo">
            <li>Référence: {{ image?.reference }}</li>
            <li>Catégorie: {{ image?.category }}</li>
            <li>Format: {{ image?.format }}</li>
            <li>Type: {{ image?.type }}</li>
            <li>Année: {{ image?.year }}</li>
          </ul>
        </section>
      </article>

      <article class="right-column">
        <figure class="image-container">
          <img [src]="image?.file" alt="{{ image?.title }}" />
        </figure>
      </article>
    </div>
  </section>
  <!-- Section 2 -->
  <section class="section2">

    <article class="left-column2">
      
        
        <p class="photo-interest">Cette photo vous intéresse ?</p>
      
        
        <button (click)="openModal()">Contact</button>


    
    </article>

    <article class="right-column2">
      <figure>
        <div class="thumbnail">
          <img [src]="nextImage?.file" alt="Image suivante" />
        </div>
        <div class="arrows">
          <a *ngIf="prevImage" [routerLink]="['/image', prevImage.id]" class="arrow-left" title="Précédent"></a>
          <a *ngIf="nextImage" [routerLink]="['/image', nextImage.id]" class="arrow-right" title="Suivant"></a>
        </div>
      </figure>
    </article>
  </section>

  <!-- Section 3 -->
  <section class="like">

    <p class="uppercase">Vous aimerez aussi</p>


    <div class="gallery_singlephoto">


      <article class="gallery-item" *ngFor="let relatedImage of relatedImages"
        [attr.data-category]="relatedImage.category">

        <div class="photo-container">
          <img [src]="relatedImage.file" alt="{{ relatedImage.title }}" />
        </div>

        <!-- overlay -->
        <div class="overlay">
          <a [href]="relatedImage.file" class="icon fullscreen-icon" target="_blank" title="Voir en plein écran">
            <i class="fa fa-expand"></i>
          </a>
          <a [routerLink]="['/image', relatedImage.id]" class="icon eye-icon" title="Voir les informations">
            <i class="fa fa-eye"></i>
          </a>
          <div class="photo-title">{{ relatedImage.title }}</div>
          <div class="photo-category">{{ relatedImage.category }}</div>
        </div>
      </article>
    </div>
  </section>
</div>