/* Mobile */
@media (max-width: 480px) {

    body {
        font-size: 14px;
    }

    .detail-photo {
        flex-direction: column-reverse;

        .right-column {
            width: 100% !important;
        }

        .left-column {
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    .gallery_singlephoto{
        flex-direction: column;

        .gallery-item{
            max-width:100% ;
        }
    }

}

#main-content {
    padding: 20px;
}

#page-photo {
    margin: 50px auto;
    padding: 20px;
    width: calc(100vw - 40px);
    display: flex;
    flex-direction: column;

    .detail-photo {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        gap: 20px;

        .left-column {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: calc(40% - 20px);
            max-width: 50%;

            div {
                text-align: left;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: flex-end;
                width: 100%;
                border-bottom: 2px solid #000;

                .heading {
                    text-transform: uppercase;
                }

                .info-photo {
                    padding: 0;
                }
            }
        }

        .right-column {

            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: 50%;


            img {
                border-radius: 10px;
                min-height: 500px;
                max-height: 800px;
                object-fit: cover;
                object-position: center;
                height: 100%;
                max-width: 100%;

            }
        }

    }
}

.section2 {
    border-bottom: 2px solid #000;
    width: calc(100vw - 40px);
    display: flex;
    gap: 20px;
    justify-content: space-between;
    height: 118px;
    align-items: center;

    .left-column2 {

        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: calc(50% - 10px);

        button {
            width: 35%;
            height: 50px;
            background-color: #D8D8D8;
            border: none;
            text-transform: none;

            a {
                color: black;
                text-transform: none;
                text-decoration: none;
            }

            &:hover {

                background-color: #000;
                color: white;

            }
        }

    }

    .right-column2 {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        figure {
            position: relative;
            margin-right: 5%;
            display: flex;
            width: 81px;
            height: 118px;
            justify-content: center;

            .thumbnail {
                display: block;
                max-height: 118px;
                height: 85%;
                width: 100%;
                position: absolute;
                object-fit: cover;
                object-position: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .arrows {
                position: absolute;
                top: 80%;
                left: 50%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                transform: translate(-50%, -50%);
            }

            .arrows a {
                text-decoration: none;
                color: black;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                /* Ajuste la largeur des flèches */
                height: 30px;
                /* Ajuste la hauteur des flèches */
                background: rgba(255, 255, 255, 0.7);
                /* Fond semi-transparent */
                border-radius: 50%;
                /* Rendre les flèches rondes */
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            }

            .arrows a:hover {
                background: rgba(255, 255, 255, 1);
            }

            .arrows a:first-child {
                /* Flèche gauche */
                position: absolute;
                left: -15px;
                /* Ajuste pour ne pas trop dépasser */
            }

            .arrows a:last-child {
                /* Flèche droite */
                position: absolute;
                right: -15px;
                /* Ajuste pour ne pas trop dépasser */
            }


        }
    }
}


// article {
//     flex: 0 1 calc(50% - 20px);
//     width: 50vw;
//     height: 500px;
//     overflow: hidden;
//     position: relative;
// }

.gallery_singlephoto {
    display: flex;
    gap: 20px;

    .photo-container {

        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.gallery-item {
    flex: 0 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    height: 500px;
    position: relative;
    overflow: hidden;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;

    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); // Couleur de l'overlay semi-transparente
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white; // Texte blanc
        opacity: 0; // Par défaut, l'overlay est invisible
        transition: opacity 0.3s ease;

        .icon {
            position: absolute;
            font-size: 24px;
            color: white;
            cursor: pointer;
        }

        .fullscreen {
            top: 10px; // En haut à droite
            right: 10px;
        }

        .visibility {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .text {
            position: absolute;
            font-size: 14px;
        }

        .title {
            bottom: 10px; // En bas à gauche
            left: 10px;
        }

        .category {
            bottom: 10px; // En bas à droite
            right: 10px;
        }
    }

    &:hover .overlay {
        opacity: 1; // L'overlay devient visible au survol
    }
}