<app-header/>
<app-light-box/>
<app-popup *ngIf="isModalVisible"></app-popup>


<div id="main-content">

  <!-- Section 1 -->
  <section id="page-photo">
    <div class="detail-photo">
      <article class="left-column">
        <div>
          <h2 class="heading">{{ image?.title }}</h2>
          <ul class="info-photo">
            <li>Référence: {{ image?.reference }}</li>
            <li>Catégorie: {{ image?.category }}</li>
            <li>Format: {{ image?.format }}</li>
            <li>Type: {{ image?.type }}</li>
            <li>Année: {{ image?.year }}</li>
          </ul>
        </div>
      </article>

      <article class="right-column">
        <figure class="image-container">
          <img [src]="image?.file" alt="{{ image?.title }}" />
        </figure>
      </article>
    </div>
  </section>
  <!-- Section 2 -->
  <section class="section2">

    <article class="left-column2">
      
        
        <p class="photo-interest">Cette photo vous intéresse ?</p>
      
        
        <button (click)="openModal()">Contact</button>



    
    </article>

    <article class="right-column2">
      <figure>

        <div class="thumbnail">
          <img *ngIf="nextImage" [src]="nextImage.file" alt="Image suivante" />
        </div>

        <div class="arrows">
          <a *ngIf="prevImage" [routerLink]="['/photo-detail', prevImage.reference]" title="Précédent">
            <span class="material-icons">chevron_left</span>
          </a>
          <a *ngIf="nextImage" [routerLink]="['/photo-detail', nextImage.reference]" title="Suivant">
            <span class="material-icons">chevron_right</span>
          </a>
        </div>
        
      </figure>
    </article>
    
    

  </section>

  <!-- Section 3 -->
  <section class="like">

    <p class="uppercase">Vous aimerez aussi</p>


    <div class="gallery_singlephoto">


      <article class="gallery-item" *ngFor="let relatedImage of relatedImages"
        [attr.data-category]="relatedImage.category">

        <div class="photo-container">
          <img [src]="relatedImage.file" alt="{{ relatedImage.title }}" />
        </div>

       <!-- Overlay -->
      <div class="overlay">
        <span class="icon fullscreen material-icons" 
              (click)="openLightbox(relatedImage)">fullscreen</span>

        <span class="icon visibility material-icons" 
              [routerLink]="['/photo-detail', relatedImage.reference]">visibility</span>

        <span class="text title">{{ relatedImage.title }}</span>
        <span class="text category">{{ relatedImage.category }}</span>
      </div>

      </article>
    </div>
  </section>
</div>