<app-header/>
<app-light-box/>

<!-- Bannière -->
<section class="Banner">
  <div class="header-image" *ngIf="currentImageUrl">
    <img class="banner" [src]="currentImageUrl" alt="Bannière" />
    <img class="titre-header" src="assets/TitreHeader.png" alt="Titre de la bannière" />
  </div>
</section>

<div class="gallery-container">
  <!-- Filtres -->
  <div class="filters">
    <div class="filters_left">
      
      <!-- Menu déroulant pour les catégories -->
      <div class="dropdown">
        <button class="dropdown-btn" (click)="toggleDropdown('categoryDropdown')">
          {{ filter.category || 'catégories' }}
          <span class="arrow">&#9662;</span>
        </button>
        <div>
          <ul [class.open]="dropdowns['categoryDropdown']" class="dropdown-menu">
          <li (click)="setFilter('category', '')"></li>
          <li *ngFor="let category of categories" (click)="setFilter('category', category)">
            {{ category }}
          </li>
        </ul>
      </div>
      </div>

      <!-- Menu déroulant pour les formats -->
      <div class="dropdown">
        <button class="dropdown-btn" (click)="toggleDropdown('formatDropdown')">
          {{ filter.format || 'formats' }}
          <span class="arrow">&#9662;</span>
        </button>
        <ul [class.open]="dropdowns['formatDropdown']" class="dropdown-menu">
          <li (click)="setFilter('format', '')"></li>
          <li *ngFor="let format of formats" (click)="setFilter('format', format)">
            {{ format }}
          </li>
        </ul>
      </div>
    </div>

      <!-- Menu déroulant pour l'ordre -->
       <div class="filters_right">
        <div class="sorting-options">
<div class="dropdown">

        <button class="dropdown-btn" (click)="toggleDropdown('orderDropdown')">
          {{ filter.order || 'trier par' }}
          <span class="arrow">&#9662;</span>
        </button>

        <ul [class.open]="dropdowns['orderDropdown']" class="dropdown-menu">
          <li (click)="setFilter('order', '')">  </li>
          <li (click)="setFilter('order', 'asc')">à partir des plus anciènnes</li>
          <li (click)="setFilter('order', 'desc')">à partir des plus réscentes</li>
        </ul>
        
       </div>  
      </div>
    </div>

  </div>

 <!-- gallery -->
<div class="gallery">
  <div *ngFor="let image of displayedImages" class="gallery-item">
    <img [src]="image.file" [alt]="image.title" />
    <!-- Overlay avec les icônes -->
    <div class="overlay">
      <span class="icon fullscreen material-icons" 
            (click)="openLightbox(image)">fullscreen</span>

      <span class="icon visibility material-icons" 
            [routerLink]="['/photo-detail', image.reference]">visibility</span>

      <span class="text title">{{ image.title }}</span>
      <span class="text category">{{ image.category }}</span>
    </div>
  </div>
</div>

  
  <!-- Bouton "Charger plus" -->
  <div class="load-more" *ngIf="totalImagesShown < filteredImages.length">
    <button (click)="loadMore()">Charger plus</button>
  </div>
</div>

    